<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:b="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <csrf disabled="true"/>
        <intercept-url pattern="/signIn" access="permitAll" />
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/**" access="hasAuthority('admin')" />
        <form-login login-page="/signIn"
                    login-processing-url="/signIn"
                    default-target-url="/home?isAuthorized=true"
                    always-use-default-target="true"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/signIn?accessDenied=true"
        />
        <logout logout-url="/logout"/>
    </http>



    <authentication-manager >
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select vlogin, vpasswordhash, bisactive from t_users where vlogin=?"
                               authorities-by-username-query="
                                        select us.vlogin, rol.vname from t_userstoroles utr
                                        inner join t_users us on us.id = utr.nuserid
                                        inner join t_roles rol on rol.id = utr.nroleid
                                        where us.vlogin = ?" />
        </authentication-provider>
    </authentication-manager>

</b:beans>